<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jay.biz_kotlin">

    <application>
        <activity android:name=".KotlinMainActivity" />
        <activity android:name=".coroutine.CoroutineMainActivity" />
        <activity android:name=".coroutine.CoroutineUseActivity" />
    </application>

</manifest>