<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jay.biz_android">

    <application>
        <activity android:name=".touch_event.TouchEventDispatchActivity"></activity>
        <activity android:name=".touch_event.TouchEventMainActivity" />
        <activity android:name=".AndroidMainActivity" />
    </application>

</manifest>