<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jay.biz_english">

    <application>
        <activity android:name=".letter_26.LetterActivity" />
        <activity android:name=".phonetic_48.PhoneticActivity" />
        <activity android:name=".phonetic_48.PhoneticListActivity" />
        <activity android:name=".phonetic_48.PhoneticDetailActivity" />
        <activity android:name=".EnglishMainActivity" />
    </application>

</manifest>