<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jay.biz_movie">

    <application>
        <activity android:name=".movie.MovieActivity" />
        <activity android:name=".MovieMainActivity" />
        <activity
            android:screenOrientation="landscape"
            android:name=".movie.detail.MovieDetailActivity" />
    </application>


</manifest>