<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jay.biz_jetpack">

    <application>
        <activity android:name="com.jay.biz_jetpack.databinding.DataBindingActivity"></activity>
        <activity android:name="com.jay.biz_jetpack.MvvmMainActivity" />
    </application>

</manifest>