<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jay.biz_mvvm">

    <application>
        <activity android:name="com.jay.biz_mvvm.JetPackMainActivity" />

        <!-- DataBindingMainActivity       -->
        <activity android:name="com.jay.biz_mvvm.databinding.DataBindingMainActivity" />
        <activity android:name="com.jay.biz_mvvm.databinding.DBCommonUseActivity" />
        <activity android:name="com.jay.biz_mvvm.databinding.DBObservableActivity" />
        <activity android:name="com.jay.biz_mvvm.databinding.DBViewModelActivity" />
        <activity android:name="com.jay.biz_mvvm.databinding.DBLiveDataActivity" />
        <!-- HintMainActivity       -->
        <activity android:name="com.jay.biz_mvvm.hint.HintMainActivity" />
        <activity android:name="com.jay.biz_mvvm.room.RoomMainActivity" />
        <activity android:name="com.jay.biz_mvvm.room.RoomUseActivity" />


    </application>

</manifest>